.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.clickable-text {
    color: blue;
    cursor: pointer;
}

div,
p {
    text-align: left;
}

input,
p {
    font-size: 16px;
}

.monospace {
    font-family: monospace, monospace;
}

.no-margin {
    margin: 0;
}

.color-darkgray {
    color: darkgray;
}

.text-box {
    border-radius: 5px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 50px;
    margin: auto;
}
